# ETL Processes

In [23]:
import os
import glob
import psycopg2
import pandas as pd
from sql_queries import *

In [24]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()
conn.set_session(autocommit=True)

In [25]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
performing ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

In [26]:
filepath = 'data/song_data'

In [27]:
song_files = get_files(filepath)
song_files[0]

'/home/workspace/data/song_data/A/A/A/TRAAAAW128F429D538.json'

In [28]:
df = pd.read_json(song_files[0], lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

## #1: `songs` Table
#### Extract Data for Songs Table

In [29]:
song_data = [df.song_id[0], df.title[0], df.artist_id[0], int(df.year[0]), df.duration[0] ]
song_data

['SOMZWCG12A8C13C480',
 "I Didn't Mean To",
 'ARD7TVE1187B99BFB1',
 0,
 218.93179000000001]

#### Insert Record into Song Table
insert a record for this song into the `songs` table.

In [30]:
cur.execute(song_table_insert, song_data)
conn.commit()

## #2: `artists` Table
#### Extract Data for Artists Table

In [31]:
artist_df = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']]
artist_data = list(artist_df.iloc[0])
artist_data

['ARD7TVE1187B99BFB1', 'Casual', 'California - LA', nan, nan]

#### Insert Record into Artist Table
insert a record for this song's artist into the `artists` table.

In [32]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

# Process `log_data`
performing ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

In [33]:
filepath = 'data/log_data'
log_files = get_files(filepath)
log_files[0]

'/home/workspace/data/log_data/2018/11/2018-11-30-events.json'

In [34]:
df = pd.read_json('/home/workspace/data/log_data/2018/11/2018-11-27-events.json', lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,961,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1543279932796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
1,Jimi Hendrix,Logged In,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,961,Woodstock Inprovisation,200,1543280209796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
2,Building 429,Logged In,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,961,Majesty (LP Version),200,1543280448796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
3,The B-52's,Logged In,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540870e+12,107,Love Shack,200,1543282396796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",38
4,Die Mooskirchner,Logged In,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540870e+12,107,Frisch und g'sund,200,1543282717796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",38

## #3: `time` Table
#### Extract Data for Time Table

In [35]:
df = df[df['page'] == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Logged In,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,961,Horn Concerto No. 4 in E flat K495: II. Romanc...,200,1543279932796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
1,Jimi Hendrix,Logged In,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,961,Woodstock Inprovisation,200,1543280209796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
2,Building 429,Logged In,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",PUT,NextSong,1.540512e+12,961,Majesty (LP Version),200,1543280448796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",88
3,The B-52's,Logged In,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540870e+12,107,Love Shack,200,1543282396796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",38
4,Die Mooskirchner,Logged In,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540870e+12,107,Frisch und g'sund,200,1543282717796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",38

In [36]:
df['TS'] = pd.to_datetime(df['ts'], unit='ms')

In [37]:
time_s = df['TS']
time_df = pd.DataFrame(time_s, columns= ['TS'])
time_df.head()

                       TS
0 2018-11-27 00:52:12.796
1 2018-11-27 00:56:49.796
2 2018-11-27 01:00:48.796
3 2018-11-27 01:33:16.796
4 2018-11-27 01:38:37.796

In [38]:
time_df['Hour'] = time_df['TS'].dt.hour
time_df['Day'] = time_df['TS'].dt.day
time_df['WeekOfYear'] = time_df['TS'].dt.week
time_df['Month'] = time_df['TS'].dt.month
time_df['Year'] = time_df['TS'].dt.year
time_df['WeekDay'] = time_df['TS'].dt.dayofweek

In [39]:
time_df.head()

                       TS  Hour  Day  WeekOfYear  Month  Year  WeekDay
0 2018-11-27 00:52:12.796     0   27          48     11  2018        1
1 2018-11-27 00:56:49.796     0   27          48     11  2018        1
2 2018-11-27 01:00:48.796     1   27          48     11  2018        1
3 2018-11-27 01:33:16.796     1   27          48     11  2018        1
4 2018-11-27 01:38:37.796     1   27          48     11  2018        1

#### Insert Records into Time Table
insert records for the timestamps in this log file into the `time` table.

In [40]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

## #4: `users` Table
#### Extract Data for Users Table

In [41]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
insert records for the users in this log file into the `users` table.

In [42]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

## #5: `songplays` Table
#### Extract Data and Songplays Table


#### Insert Records into Songplays Table
insert records for the songplay actions in this log file into the `songplays` table.

In [43]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
        s = row.song.replace('\'', '\'\'')
        a = row.artist.replace('\'', '\'\'')
        so = song_select.format(row.length, s, a)
        cur.execute(so)
        results = cur.fetchone()
        if results:
            songid, artistid = results
              
        else:
            songid, artistid = None , None
        
        songplay_data = (index, row.TS, row.userId, row.level, songid, 
                             artistid, row.sessionId, row.location, row.userAgent)
        cur.execute(songplay_table_insert, songplay_data)

# Close Connection to Sparkify Database

In [44]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

In [2]:
!pip install sqlalchemy_schemadisplay
!pip install sqlalchemy

Collecting sqlalchemy_schemadisplay
  Downloading https://files.pythonhosted.org/packages/ac/6a/de5911b2837278f3cf89b99b0fd94461f789b8f083537ff14ff9aa6d3397/sqlalchemy_schemadisplay-1.3.tar.gz
Requirement already satisfied: setuptools in /opt/conda/lib/python3.6/site-packages (from sqlalchemy_schemadisplay) (38.4.0)
Requirement already satisfied: pydot in /opt/conda/lib/python3.6/site-packages (from sqlalchemy_schemadisplay) (1.2.4)
Requirement already satisfied: pyparsing>=2.1.4 in /opt/conda/lib/python3.6/site-packages (from pydot->sqlalchemy_schemadisplay) (2.2.0)
Building wheels for collected packages: sqlalchemy-schemadisplay
  Running setup.py bdist_wheel for sqlalchemy-schemadisplay ... done
  Stored in directory: /root/.cache/pip/wheels/e5/c5/9a/239c087da5563bfc4b2bfa5ba22a3b811dca88bcc84a587aa6
Successfully built sqlalchemy-schemadisplay
Installing collected packages: sqlalchemy-schemadisplay
Successfully installed sqlalchemy-schemadisplay-1.3
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.6/site-packages (1.1.13)

In [1]:
from sqlalchemy_schemadisplay import create_schema_graph
from sqlalchemy import MetaData

def main():
    graph = create_schema_graph(metadata=MetaData('postgresql://student:student@127.0.0.1/sparkifydb'))
    graph.write_png('sparkifydb_erd.png')

if __name__ == "__main__":
    main()

## creating a database schema and ETL pipeline for `Sparkify`.
we have 2 types of `JSON files` the first one has data about the `song` and the `artist` and the second one has data about the `sessions` itself, we will use those 2 files to create a database whiche contains 5 tables 
#### Project Repository files:
- sql_queries.py
contains all the `sql queries`, it will be used in the other files.
- create_tables.py 
drops and creates your tables.
- etl.ipynb 
reads and processes a `single file` from `song_data` and `log_data` and loads the data into the tables
- etl.py 
reads and processes `files` from `song_data` and `log_data` and loads them into the tables.
- test.ipynb 
in it we can test the tables we cteated and other parameters of the teables

#### How To Run the Project
to create the database you will run the `create_tables.py` frist then the `etl.py`
you can test the database using the `test.ipynb` file 

#### ETL Process
we have 2 directory 
- log_data it contains log files in JSON format describes the action happened in the sessions, in the page NextSong you can find some data about the song played by the user 
- song_data it contains log files in JSON format have specific data about the song
- we will use the song_data files to build the songs and artists table using the func `process_song_file()` in the `etl.py`
- we will use the log_data files to build the rest of the tables using the func `process_log_file()` in the `etl.py`
- there is a func `process_data` in the `etl.py` process the directories and pass the JSON files to the funcs to insert the data into the tables

#### Database design

###### Fact Table

- songplays - records in log data associated with song plays i.e. records with page NextSong 
    songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent

###### Dimension Tables

- users - users in the app
        user_id, first_name, last_name, gender, level
- ongs - songs in music database
        song_id, title, artist_id, year, duration
- artists - artists in music database
        artist_id, name, location, latitude, longitude
- time - timestamps of records in songplays broken down into specific units
        start_time, hour, day, week, month, year, weekday
        
![ER diagram](sparkifydb_erd.png)